* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ribbon {
  position: fixed;
  top: 72px;
  height: 52px;
  width: 100vw;
  background-color: var(--left-background-color);
  display: grid;
  grid-template-columns: repeat(2, 50%);
  text-align: center;
  display: none;
  z-index: 1000;
}

.ribbon a {
  display: block;
}

.ribbon img {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-top: 1rem;
}
.ribbon svg {
  height: 24px;
  width: 24px;
  display: inline-block;
  margin-top: 0.9rem;
  color: rgb(117, 117, 117);
}

.ribbon-left {
  height: inherit;
  width: 50vw;
}
.ribbon-right {
  height: inherit;
  width: 50vw;
}

.ribbon-left:hover {
  text-shadow: 2px 2px 5px #00000024;
  background-color: #f4f4f4;
}
.ribbon-right:hover {
  text-shadow: 2px 2px 5px #00000024;
  background-color: #f4f4f4;
}

#portfolio {
  display: grid;
  grid-template-columns: 26% 61%;

  grid-gap: 1rem;
  position: relative;
  top: 72px;
}

.portfolio.project {
  display: grid;
  /* grid-template-columns: 26% 61%; */
  grid-template-columns: 350px 1.75fr 1fr;
  grid-gap: 1rem;
  position: relative;
  top: 72px;
}

#left-sidebar {
  /* width: 350px; */
  background-color: var(--left-background-color);
  position: relative;
  top: 0px;
  min-height: 100vh;
}

#main-grid {
  width: inherit;
  position: relative;
  top: 0;
  left: 0%;
  margin: 0 1.5rem;
}

.memberpopupscreen::after {
  content: '';
  z-index: 1000000000;
}

.memberpopupscreen {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #060606;
  opacity: 0.8;
  z-index: 100;
  width: 100vw;
  height: 100vw;
  overflow: hidden;
  position: fixed;
}

.memberpopupscreen .memberpopup {
  z-index: 101;
  background: #fff;
  display: block;
  width: 320px;
  border-radius: 10px;
  position: absolute;
  left: 40%;
  top: 13%;
}

.memberpopup .mem-heading {
  background: #4d5dff;
  padding: 1rem;
  color: #fff;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mem-heading img {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(257deg)
    brightness(107%) contrast(101%);
  display: inline-block;
  vertical-align: middle;
}

.mem-heading .member-cross:hover {
  opacity: 0.8;
}

.memberpopup .member-body {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.member-body a,
.member-body p {
  font-size: 15px;
  line-height: 1rem;
}

.member-body .dp {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 1rem;
}

.noticepopupscreen::after {
  z-index: 1000000000;
}

.noticepopupscreen {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #060606;
  opacity: 0.8;
  z-index: 100;
  width: 100vw;
  height: 100vw;
  overflow: hidden;
  position: fixed;
}

.noticepopupscreen .noticepopup {
  top: 113px;
  left: 678px;
  width: 564px;
  height: 825px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 80px #0000000a;
  border-radius: 15px;
  opacity: 1;
  z-index: 101;
  position: absolute;
}

.noticepopup .notice-heading {
  padding: 1rem;
  color: rgb(0, 0, 0);
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notice-heading img {
  display: inline-block;
  vertical-align: middle;
}

.notice-heading .notice-cross:hover {
  opacity: 0.8;
}
